<%- include("partials/_header") %>
    <br><br>

    <div class="container mt-5">
        <div class="row">

            <div class="col-md-5 text-light offset-md-3 card bg-dark border-primary">
                <div class="card-body">
                    <legend> Adjuntar archivos </legend>
                    <form action="/add_archivos_contrato/<%= contrato.id_contrato %>" method="POST"
                        enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="exampleSelect1" class="form-label mt-4">Nombre del contrato</label>
                            <input type="text" class="form-control-plaintext" id="nombre_contrato" name="nombre_contrato"
                                value="<%= contrato.nombre_contrato %>" readonly>
                            <div>
                                <label for="formFile" class="form-label mt-4">Adjuntar archivos</label>
                                <input class="form-control" type="file" id="archivo_contrato" name="archivo_contrato"
                                    multiple>
                            </div>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <%- include("partials/_footer") %>