<%- include("partials/_sidebar") %>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column bg-gray-900">

        <!-- Main Content -->
        <div id="content">

            <%- include("partials/_header") %>

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-light">Este sitio web aun esta en construcción.</h1>

                </div>
                <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->
        <%- include("partials/_footer") %>